*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #343334;
}

header ul {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    min-height: 70px;
}

header ul li {
    list-style-type: none;
    color: #f7f7f8;
}

.NoticiaDiv{
    width: 80%;
    height: 60vh;
    margin: auto;
}

.NoticiaDiv img{
    width: 100%;
}